
.cuadroPrincipal{
    border: 15px double pink;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url("../../assets/c1942acd2896ee1e374ce4ca0d32ae75.jpg");
    color: pink;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    position: relative;
    width: 35%;
    height: 450px;
    text-align: center;
    margin: 10% 55%;
}
.cuadroPrincipal h2{
  font-size: xx-large;
  -webkit-text-stroke: 1.5px black;
  background-clip: text;
  margin-top: 15px;
}
.imputs::placeholder{
  color: black;
}
.cuadroPrincipal input{
    margin: 5px;
    text-align: center;
    height: 40px;
    width: 250px;
    border-radius: 10px;  
    border: 2px solid black;  
     
}
.loginBoton{
  width: 50%;
}
.ov-btn-grow-skew {
    background: whitesmoke;
    color: black;
    font-size: x-large;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    border: 2px solid pink;
    padding: 10px 20px;
    border-radius: 10px; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    height: 50px;
  }
  .ov-btn-grow-skew:hover {
    color: #fff;/* color de fuente hover */
    border: 2px double whitesmoke;
  }
  .ov-btn-grow-skew::after {
    content: "";
    background: black; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.6s ease;
  }
  .ov-btn-grow-skew:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
  }
