.card {
  position: relative;
  display: inline-block;
  color: black;
  border-radius: 25px;
  overflow: hidden;
  margin: 1px;
  text-decoration: none;
}

.image {
  width: 300px;
  max-width: 100%;
  height: 250px;
  border-radius: 25px;
  transition: opacity 0.8s;
  border: solid pink 3px;
  opacity: 1; 
}

.card:hover .image {
  opacity: 0.5;
}

.card .card-content {
  font-size: medium;
  height: 210px;
  opacity: 0; 
  position: absolute;
  top: 0;
  left: 0;
  transform: none;
  text-align: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 25px; 
  background: gray;
}

.card:hover .card-content {
  opacity: 1; 
  color: pink;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.986) ;
  backdrop-filter: blur(8px); 
}
