
.nav{
    align-items: center;
    border-bottom: 8px pink double;
    border-radius: 0%  0% 25% 25%;
    width:100%;
    position: relative;
    height: 40px;
    background-color: grey;
    color: pink;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1%;
}
  .link {
    text-decoration: none;
    color: whitesmoke;
  }

  .link:hover{
    color: pink;
  }


  .limpiar{
    background: none;
    border: none;
    color: whitesmoke;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
  }