
.busqueda input{
    border: none;
    background: none;
    text-align: center;
    font-size: medium;
    margin: 5px 40px;
}
.busqueda input::placeholder{
    color: pink;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    border: none;
}
.busqueda input:focus{
    outline: none;
    caret-color: pink;
}
.busqueda input:focus::placeholder{
    color: transparent;
    
}