.tempselect{
    border: none;
    font-size: large;
    background: none;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    color: pink;
}

.tempselect::after{
    border: none;
}
.tempselect:before{
    border: none;
}

.tempselect option{
    background: gray;
    color: pink;
    border-radius: 50%;
}